html {
  font-size: 14px;
  color: green;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  background-color: deeppink;
}

body {
  margin-bottom: 60px;
  color: deeppink;
  background-color: blue;
}