
@{
    ViewData["Title"] = "About Us";
}

<body>
    <header class="row">
        <div class="container">
            <h1 class="fw-bolder text-center">
                About Us
            </h1>
        </div>
    </header>

    <main>
        <section class="container">
            <div class="container">
                <div class="even-columns">
                    <div class="flow text-center-sm-only margi" style="--flow-spacer: 1.5rem">
                        <h2 class="fs-secondary-heading fw-bold">Since 1993</h2>
                    </div>
                    <div class="flow" style="--flow-spacer: 1em">
                        <h4 class="fs-600 fw-bold">More Flavor...Less Guilt</h4>
                    </div>
                    <div>
                        <p> 
                            The Ice Cream you've been eating isn’t made fresh with natural ingredients like it was with those Old Hand Crank Ice Cream Makers.
                        </p>

                        <p>
                            Today Ice Cream is served from plastic bags of commercial slurry run through a machine, 
                            frozen brew scooped out of paper buckets, or highly-processed subpar frozen mix from your grocery store spooned out of a cardboard box.
                            Who knows what the heck you're really eating, right?
                        </p>

                        <p>
                            But we take a step back and slow it down using an Old-Fashioned Ice Cream Recipe to make Crystal Cream ice cream.
                            Nothing processed or artificial.
                            Homemade Ice Cream that can be frozen right in front of you. Ice Cream without any commercial ingredients.
                            The only cream we use is Free Range Organic Dairy from Dakin Dairy in Myakka City.
                            Fresh and Natural Does Taste Better....and the plain vanilla Ice Cream is only 130 calories & 12.6 grams of sugar per serving.
                        </p>

                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

