
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <header class="row">
        <div class="container">
            <h1 class="fw-bolder text-center">
                Contact Us
            </h1>
        </div>
    </header>

    <main>
        <div class="container">
            <p class="text-center">
                You can text or call in your order if you have a big group.
            </p>
            <p class="text-center">
                Leave a messagae: 941-220-9688
            </p>
        </div>
    </main>
</body>

