
@{
    ViewData["Title"] = "Hours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <header class="row">
        <div class="container">
            <h1 class="fw-bolder text-center">
                Hours
            </h1>
        </div>
    </header>

    <main>
        <div class="container">
            <p class="text-center">
                157 N. Tamiami Trail Osprey, FL
            </p>
            <p class="text-center">
                Monday: Closed
            </p>
            <p class="text-center">
                Tuesday - Sunday: 1:00 PM - 8:00 PM
            </p>
        </div>
    </main>
</body>
