@{
    ViewData["Title"] = "Home Page";
}

<body>
    <header class="row">
        <div class="container">
            <h1 class="fw-bolder text-center">
                Home
            </h1>
        </div>
    </header>

    <main>
        <section class="container">
            <div class="container">
                <div class="even-columns">
                    <div class="flow text-center-sm-only margi" style="--flow-spacer: 1.5rem">
                        <h2 class="fs-secondary-heading fw-bold">Menus</h2>
                    </div>
                    <div>
                        <ul class="numbered-items | flow" role="list">
                            <li>
                                <div class="box">
                                    <img src="Images/FlavorMenu.png" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="Images/RollMenu.png" alt="">

                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="Images/DrinkMenu.png" alt="">

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="padding-block-700  text-center">
                    <div class="container">
                        <h3 class="fw-bold">Ingredient Update</h3>
                        <p data-width="wide">
                            Due to numerous customer requests for new flavors, we have expanded our selection.
                            This means we can no longer realistically keep all of our products organic. 
                            All of our original ice creams, drinks, and rolls will stay organic as they have been.
                            If you have any questions about ingredients or anything else, send us an email or text. Thank you for your understanding.
                        </p>
                        <p data-width="wide">
                            Email: crystalcreamc@gmail.com
                        </p>
                        <p data-width="wide">
                            Phone: (941)-220-9688
                        </p>
                    </div>
                </li>
            </ul>
        </section>
    </main>
</body>


