@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Crystal Cream Rolls!</p>
</div>

<main>This is in the Main.</main>

<body> This is the body.</body>


