@{
    ViewData["Title"] = "Privacy Policy";
}

<body>
    <header class="row">
        <div class="container">
            <h1 class="fw-bolder text-center">
                Privacy Policy
            </h1>
        </div>
    </header>

    <main>
        <div class="container">
            <h4 class="fw-bold">
                Web Site Terms and Conditions of Use
            </h4>
            <p class="text-center">
                By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use,
                applicable laws and regulations and their compliance.
                If you disagree with any of the stated terms and conditions, you are prohibited from using or accessing this site.
                The materials contained in this site are secured by relevant copyright and trade mark law.
            </p>
            
        </div>
    </main>
</body>
